<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
</head>
<body>
    <div class='container'>
        <div class='card'>
            <h1>Login</h1>

            <div class='label-float'>
                <input type='text' id='usuario' placeholder="">
                <label for="usuario">Usuario</label>
            </div>
    
            <div class='label-float'>
                <input type='password' id='senha' placeholder="">
                <label for="usuario">Senha</label>
            </div>

            <div class='justify-center'>
                <button>Entrar</button>
            </div>

            <div class='justify-center'>
                <hr>
            </div>

            <p>Não tem uma conta?
                <a href=''>Cadastre-se</a>
            </p>
        </div>
    </div>
</body>
</html>